#banner {
  .banner_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    .banner_all {
      transition: 0.4s ease-in-out;
      &:hover {
        box-shadow: 5px 10px 18px #888888;
      }
      width: 267px;
      height: auto;
      border: 2px solid rgb(212, 211, 211);
      border-radius: 9px;
      .banner_head {
        width: 300px;
        height: 300px;
        .banner_img {
          width: 200px;
          height: 259px;
          position: relative;
          margin: 28px;
          img {
            width: 200px;
            height: 259px;
            border-radius: 9px;

            cursor: pointer;
          }
          .icon {
            position: absolute;
            top: 0px;
            
            left: 0px;
            background-color: rgb(255, 251, 251);
            padding: 8px;
            border-radius: 5px;
            width: 60px;
    margin: 13px 0px;
     right: -11px; 
    left: 123px;
    .fa-heart{
      transition: .3s ease-in-out;
      &:hover{
      color: red;
    }
    }
    
          }
        }
      }
      .banner_footer {
        .banner_footer_first {
          margin: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          cursor: pointer;
          span {
            color: rgb(116, 113, 113);
          }
        }
        .banner_footer_second {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 80px;
          margin: 20px 0px;
          span {
            font-weight: bold;
          }
          button {
            color: #8358ff;
            background-color: white;
            border: 1px solid transparent;
            font-weight: bold;
          }
        }
      }
    }
  }
}
